@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #b5d3f3 !important;
  color: #0a0a0a !important;
}
